<div class="side-bar-header">
  <ul class='lists-left'>
    <li><%= link_to '名前', "#", class: "letter-color" %></li>
    <li><%= link_to 'ログアウト', "#", method: :delete, class: "letter-color" %></li>
  </ul>
  <div class="create-room">
    <a href="#">投稿</a>
  </div>
</div>

<div class="rooms">
</div>